@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Skema Warna FPL */
  --fpl-purple: #37003c;       /* Ungu Tua Utama */
  --fpl-green-pitch: #028940;  /* Hijau Lapangan */
  --fpl-green-mint: #00ff87;   /* Hijau Mint Neon Akses */
  --fpl-red: #e90052;          /* Merah Akses FPL */
  --fpl-white: #ffffff;        /* Putih Clean */
  --fpl-bg: #f8fafc;           /* Latar Belakang */

  --background: var(--fpl-bg);
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}
