@import "tailwindcss";

:root {
  /* Palet Warna Official FPL */
  --fpl-purple: #37003c;
  --fpl-green-pitch: #028940;
  --fpl-green-mint: #00ff87;
  --fpl-red: #e90052;
  --fpl-white: #ffffff;
  --fpl-bg: #f8fafc;

  --background: var(--fpl-bg);
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
